</div>
</div>

<div class="footer" style="background-color: silver;">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Microsoft Engage 2021 Mentorship</p>
                <p class="lead">Anshika Agrawal</p>
                <p class="lead">Maharaja Agrasen Institute of Technology, New Delhi</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Email: anshikaagrawal5501@gmail.com</p>
                <p class="lead">Contact no: (+91)-7579066443</p>
                <p class="lead">Anshika Agrawal</p>

            </div>
        </div>
    </div>

</div>

<!-- <script src="scripts/script.js"></script> -->

</body>

</html>