<body class="d-flex flex-column justify-content-between">

    <div>

        <!-- <nav class="navbar navbar-expand-md bg-light navbar-light"> -->

        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 100px;">

            <div class="container">

                <!-- Brand -->
                <div class="d-flex flex-column">
                    <img src="/images/teams_logo.png" alt="" class="logo m-3">
                    <p class="navbar-brand">Mircosoft Teams</p>
                </div>
            </div>

        </div>

        <!-- </nav> -->

        <div class="container">