<body class="d-flex flex-column justify-content-between">

    <div>

        <div class="jumbotron jumbotron-fluid header">

            <div class="container">

                <div class="row">
                    <div class="col-6 d-flex flex-column">
                        <img src="/images/teams_logo.png" alt="" class="logo m-3">
                        <p class="navbar-brand">Mircosoft Teams</p>
                    </div>