<%- include('partials/header') -%>

    <body class="d-flex flex-column justify-content-center">

        <div class="container">

            <div class="row">
                <div class="col-md-6 my-auto error">
                    <h1>Oops!</h1>
                    <h3>The meeting you are trying to join has reached its capacity. Please try again later when someone will leave.</h3>
                    <div class="d-flex flex-wrap">
                        <a href="/joinRoom" class="btn btn-outline-primary mr-2">Try again</a>
                        <a href="/" class="btn btn-outline-primary ml-2">Home</a>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-center">
                    <img src="/images/sorry.jpg" alt="" class="" style="width: 100%;">
                </div>
            </div>
        </div>
    </body>

    </html>