<%- include('partials/header') -%>

    <body class="d-flex flex-column justify-content-center">

        <div class="container">

            <div class="row">
                <div class="col-md-6 my-auto error">
                    <h1>Oops!</h1>
                    <h3>We can't seem to find the page you are looking for.</h3>
                    <p>Error Code: 404</p>
                    <a href="/" class="btn btn-outline-primary">Home</a>
                </div>

                <div class="col-md-6">
                    <img src="/images/error.jpg" alt="" class="img-fuild">
                </div>
            </div>
        </div>
    </body>

    </html>