<%- include('partials/header') -%>

    <div class="row">
        <div class="col-md-6 text-center d-flex flex-column my-auto">
            <div>
                <p>Meet, chat, call, and collaborate in just one place.</p>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <a href="/joinRoom" class="btn btn-outline-primary m-2">Join Meeting</a>
                <a href="/createRoom" class="btn btn-outline-primary m-2">Create Meeting</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="images/home_video_call.jpg" alt="" class="img-fluid d-block mx-auto">
        </div>
    </div>

    <%- include('partials/footer') -%>