<%- include('partials/header') -%>
    <%- include('partials/header1') -%>

        <form action="/joinRoom" method="POST">

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="roomId" placeholder="Enter room Id" name="roomId">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Join</button>
                </div>
            </div>


        </form>

        <%- include('partials/footer') -%>