<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title and Icon -->

    <title>Microsoft Teams</title>
    <link rel="shortcut icon" href="/images/teams_logo.png">

    <!-- StyleSheets -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style_room.css">

    <!-- Bootstrap scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Fontawesome icons -->

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = '<%= roomId %>'
    </script>

</head>

<body>

    <div id="errorMsg"></div>

    <div class="row content">
        <div class="col-10 d-flex flex-column justify-content-between" id="main">
            <div id="video-grid-1"></div>
            <div id="video-grid-2"></div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">

                <div class="container justify-content-end">



                    <ul class="navbar-nav">
                        <li class="nav-item" id="audioOption" onclick="muteUnmute()">
                            <i class="fas fa-microphone nav-link"></i>
                        </li>
                        <li class="nav-item" id="videoOption" onclick="playStop()">
                            <i class="fas fa-video nav-link"></i>
                        </li>
                        <li class="nav-item">
                            <i class="fas fa-comment-dots nav-link"></i>
                        </li>
                        <li class="nav-item" id="screen-share" onclick="screenSharing()">
                            <i class="fas fa-desktop nav-link"></i>
                        </li>
                        <li class="nav-item">
                            <!-- <button class="nav-link btn btn-danger px-5 leave" onclick="leave()">
                            <i class="fas fa-phone-alt"></i>
                            </button> -->

                            <a class="nav-link btn btn-danger px-5 leave" href="/">
                                <i class="fas fa-phone-alt"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>

        <div id="aside" class="col-2">

            <div class="form-group">
                <input type="text" class="form-control" id="roomId" value="<%= roomId %>">

                <button type="button" class="btn share" data-toggle="modal" data-target="#myModal">
                <i class="fas fa-share-alt"></i>
              </button>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#participants">Participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#files">Files</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div class="tab-pane active" id="chat">
                    <div class="d-flex flex-column justify-content-end chat-area">

                        <div class="chat-list">
                            <!-- <ul></ul> -->
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type message" id="messageInput" data-emoji-input="unicode" data-emojiable="true">

                            <button type="button" class="btn" id="send" onclick="sendMsg()">
                                <i class="fas fa-share"></i>
                          </button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="participants">
                    <div class="d-flex user-list">
                        <ul></ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="files">
                    <div class="d-flex flex-column justify-content-end file-area">

                        <div class="file-list">
                            <img id="output">
                            <ul></ul>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend" onclick="uploadFile()">
                                <span class="input-group-text"><i class="fas fa-arrow-up"></i></span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="uploadedFile" onchange="loadFile(event)">
                                <label class="custom-file-label" for="uploadFile">Choose file</label>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="uploadFile">
                                <label class="custom-file-label" for="uploadFile">Choose file</label>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="p-5">
                        <div class="row">
                            <div class="col-6">Room Id</div>
                            <div class="col-6"><i class="far fa-copy" onclick="copyId()"></i></div>
                            <div class="col-6">Url</div>
                            <div class="col-6"><i class="far fa-copy" onclick="copyUrl()"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- <script src="/scripts/script_room.js"></script> -->
    <script src="/scripts/create_room.js"></script>
    <script src="/scripts/room.js"></script>

</body>

</html>