<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title and Icon -->

    <title>Microsoft Teams</title>
    <link rel="shortcut icon" href="/images/teams_logo.png">

    <!-- StyleSheets -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style_room.css">

    <!-- Bootstrap scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Fontawesome icons -->

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = '<%= roomId %>'
    </script>

</head>

<body>

    <div id="errorMsg"></div>

    <div class="row">
        <div class="col-10 d-flex flex-column justify-content-between" id="main">
            <div id="video-grid"></div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">

                <div class="container justify-content-end">



                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="audioOption"><i class="fas fa-microphone"></i></a>
                        </li>
                        <li class="nav-item" onclick="mute()">
                            <a class="nav-link" href="#"><i class="fas fa-microphone-slash"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="videoOption"><i class="fas fa-video"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-video-slash"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-comment-dots"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger px-5" href="#">
                                <div class="leave"><i class="fas fa-phone-alt"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>

        <div id="aside" class="col-2">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#participants">Participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#files">Files</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="chat">
                    <div class="d-flex flex-column justify-content-end chat-area">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type message" id="message">

                            <button type="button" class="btn" id="send">
                                <i class="fas fa-share"></i>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="participants">
                    <div class="d-flex user-list">
                        <ul></ul>
                    </div>

                </div>
                <div class="tab-pane fade" id="files">...</div>
            </div>

        </div>

    </div>



    <script src="/scripts/script_room.js"></script>
</body>

</html>