<%- include('partials/header') -%>

    <div class="contanier">
        <div class="d-flex flex-column justify-content-center text-center my-auto">
            <div>
                <p>The meeting you are trying to join has reached its capacity. Please try again later when someone will leave.</p>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <a href="/joinRoom" class="btn btn-outline-primary m-2">Try again</a>
                <a href="/" class="btn btn-outline-primary m-2">Home</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>