.form-group {
    position: relative;
}

.share,
#copyId,
#copyUrl,
#send {
    position: absolute;
    top: 0;
    right: 5px;
    width: min-content;
    color: #9fa4a8;
    background-color: white;
    border-top-color: #ced4da;
    border-bottom-color: #ced4da;
}

.share:hover,
#copyId:hover,
#copyUrl:hover,
#send:hover {
    color: #53616e;
}

.share:focus,
.send:focus {
    box-shadow: none !important;
}

.col-md-6 {
    padding: 0 50px;
}

.data {
    margin-bottom: 50px;
}

.data .row {
    margin-bottom: 10px;
}

.data i {
    font-size: 30px;
    color: #7c84ec;
}

.data .row .col-2 {
    display: flex;
    align-self: center;
}

.join h3 {
    margin-bottom: 30px;
}