.form-group {
    position: relative;
}

.share {
    position: absolute;
    top: 0;
    right: 5px;
    width: min-content;
    color: #9fa4a8;
    background-color: white;
    border-top-color: #ced4da;
    border-bottom-color: #ced4da;
}

.share:hover {
    color: #53616e;
}

.share:focus {
    box-shadow: none !important;
}

.col-md-6 {
    padding: 0 50px;
}

.data {
    margin-bottom: 50px;
}

.data .row {
    margin-bottom: 10px;
}

.data i {
    font-size: 30px;
    color: #7c84ec;
}

.col-2 {
    display: flex;
    align-self: center;
}