body {
    height: 100vh;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar-brand {
    font-size: 50px;
}

.btn {
    width: 200px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(173, 168, 168);
    border-radius: 2px;
}

.footer {
    padding: 50px 0;
}

.lead {
    margin-bottom: 0;
}

.contacts i {
    padding: 5px;
    font-size: 20px;
}