.content {
    /* width: 100vw; */
    height: 100vh;
    margin: 0;
}

#main {
    background-color: black;
    padding: 0;
}

#video-grid-1 {
    height: 75vh;
    width: 100%;
}

#video-grid-1 video {
    width: 100%;
}

#video-grid-2 {
    height: 17vh;
    width: 100%;
}

.fa-phone-alt {
    transform: rotate(135deg);
}

video {
    height: 100%;
}

.screen-share-active {
    color: rgba(255, 255, 255) !important;
}

#aside {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group {
    position: relative;
}

.share {
    position: absolute;
    top: 0;
    right: 5px;
    width: min-content;
    color: #9fa4a8;
    background-color: white;
    border-top-color: #ced4da;
    border-bottom-color: #ced4da;
}

.share:hover {
    color: #53616e;
}

.share:focus {
    box-shadow: none !important;
}

.chat-area,
.user-list,
.file-area {
    height: 85vh;
    padding: 0;
}

.form-group {
    position: relative;
}

#send {
    position: absolute;
    top: 0;
    right: 5px;
    width: min-content;
    color: #9fa4a8;
}

#send:hover {
    color: #53616e;
}

#send:focus {
    box-shadow: none !important;
}

.nav-tabs {
    padding-top: 5px;
}

.nav-link {
    padding: 5px 10px;
    font-size: 15px;
}

.user-list ul,
.file-list ul {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
}

.file-list ul {
    height: 74vh;
}

.user-list ul li,
.file-list ul li {
    padding: 5px 0 0;
}


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(173, 168, 168);
}

.navbar {
    height: 8vh;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-list,
.file-list {
    margin: 20px 0;
    padding: 0;
    overflow-y: scroll;
    height: 74vh;
}

.chat-box {
    margin: 0 3px 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}

.start {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.message {
    padding-top: 5px;
    line-height: 1.2;
    font-size: 15px;
    word-break: break-all;
}

#output {
    width: 100%;
}