body {
    height: 100vh;
}

.jumbotron {
    padding: 2rem;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar-brand {
    font-size: 50px;
}

.btn {
    width: 200px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(173, 168, 168);
    border-radius: 2px;
}

.main .row {
    margin: 50px 0;
}

.col-4 h3 {
    height: 70px;
}

.footer {
    margin-top: 75px;
    padding: 50px 0;
}

p {
    margin-bottom: 0;
    font-size: 15px;
}

.contacts div {
    margin-bottom: 20px;
}

.contacts div a {
    padding-right: 10px;
    font-size: 20px;
    color: black;
}

.microsoft-logo {
    height: 100px;
}