.content {
    height: 100vh;
    margin: 0;
}

#main {
    background-color: black;
    padding: 0;
}

#video-grid-1 {
    height: 75vh;
    width: 100%;
}

#video-grid-2 {
    height: 17vh;
    width: 100%;
}

video {
    height: 100%;
}

#video-grid-1 video {
    width: 100%;
}


/*-----------  nav-bar icons  --------------*/

.navbar {
    height: 8vh;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav .nav-item {
    margin: 0 5px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 17.5px !important;
}

.fa-phone-alt {
    transform: rotate(135deg);
    margin-left: 10px;
}

.screen-share-active {
    color: rgba(255, 255, 255) !important;
}


/*-----------  aside section  --------------*/

#aside {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-tabs {
    padding-top: 5px;
}

.nav-link {
    padding: 5px 10px;
    font-size: 15px;
}

.user-list ul {
    padding: 0 5px;
}

.user-list ul li a {
    padding: 5px 0 0;
    list-style-type: none;
    color: #4f58ca !important;
}

.chat-area,
.user-list {
    height: 85vh;
    padding: 0;
}

.chat-list,
.user-list {
    margin: 20px 0;
    padding: 0;
    overflow-y: scroll;
    height: 74vh;
}


/*-----------  chat box  --------------*/

.chat-box {
    margin: 0 3px 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}

.start {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.message {
    padding-top: 5px;
    line-height: 1.2;
    font-size: 15px;
    word-break: break-word;
}

.emojioneemoji {
    height: 17.5px;
    vertical-align: top;
}


/*-----------  participant list  --------------*/

a {
    text-decoration: none !important;
}

.popover {
    width: 300px;
    left: -75px !important;
}

.arrow {
    left: 75px !important;
}


/*-----------  full-screen video  --------------*/

.box-position {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid #7c84ec;
    border-radius: 10px;
}

.resize {
    width: 100% !important;
    height: 100% !important;
}

.compress {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 2;
    color: rgb(255, 255, 255, 0.5);
}


/*-----------  white-board  --------------*/

canvas {
    background-color: white;
    border-radius: 10px;
}

.white-board-icons {
    position: absolute;
    right: 10px;
    z-index: 2;
}

.colour {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}


/*-----------  Scrollbar  --------------*/


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(173, 168, 168);
}